<%= user_score(current_user) %>
<h1>Edit <%= resource_name.to_s.humanize %></h1>

<p class="profile-avatar"><b>Profile Image</b><br/>
<%= gravatar_image(resource.email, 100) %><br/>

<span class="small">
  To edit your image, set your email below and then go to <%= link_to "gravatar.com", "http://gravatar.com" %> to sign up for an account using the same email.
</span>
</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= errors_for resource %>

  <p><b>Username</b><br/>
  <%= resource.username %>
  <p>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <% if resource.user_tokens.empty? %>
    <%= f.label :password, "Password <span class='explanation'>(leave blank if you don't want to change it)</span>".html_safe %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.label :current_password, "Current password <span class='explanation'>(we need your current password to confirm your changes)</span>".html_safe %>
    <%= f.password_field :current_password %>
  <% end -%>

  <%= f.submit "Update" %>
<% end %>
