<%= form_for(@problem) do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% @problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Need help? Check out our <%= link_to "problem submission help page", submission_help_path, class: "new-window", target: "_blank" %>.</p>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <% if current_user_admin? %>
    <div class="field">
      <%= f.label :approved %><br/>
      <%= f.check_box :approved %>
    </div>
  <% end -%>
  <div class="field">
    <%= f.label :difficulty %><br />
    <%= f.select :difficulty, difficulty_options, {}, style: "width: 315px" %>
  </div>
  <% if current_user.admin? %>
    <div class="field">
      <%= f.label :order_number, 'Order' %><br/>
      <%= f.text_field :order_number %>
    </div>
  <% end -%>
  <div class="field">
    <%= f.label :tag_list, "Tags" %>
    <%= f.text_field :tag_list, class: "tag-field" %>
  </div>
  <div class="field" style="position: relative">
    <%= f.label :instructions %>
    <span class="small" style="display: block; position: absolute; top: -1px; left: 115px; float: left;">(html is allowed)</span><br />
    <%= f.text_area :instructions, style: "margin-top: 5px;" %>
  </div>
  <div class="field code-editor-field">
    <%= f.label :code %><br />
    <%= f.text_area :code %>
    <div id="code_editor" class="code-editor"></div>
  </div>
  <div class="clear"></div>
  <div class="field code-editor-field">
    <%= f.label :hidden_code, "Hidden Code and Assertions" %><br />
    <%= f.text_area :hidden_code %>
    <div id="hidden_code_editor" class="code-editor"></div>
  </div>
  <div class="clear"></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
