<h1><%='Unapproved ' if (params[:action] == 'unapproved') -%>Problems</h1>

<table id="problems">
  <thead>
    <tr>
      <th>Title</th>
      <th>Tags</th>
      <th>Difficulty</th>
      <th>Solutions</th>
      <th>Submitter</th>
      <% if current_user %>
        <th>Score</th>
        <th>Solved</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr class="problem <%= 'solved' if current_user && current_user.solved_problems[problem.id] %>" id="<%= problem.id %>">
        <td><%= link_to problem.title, problem %></td>
        <td><%= problem.tag_list %></td>
        <td><%= problem.difficulty_word %></td>
        <td><%= problem.solutions.count %></td>
        <td><%= problem.creator %></td>
        <% if current_user %>
          <td><%= current_user.solved_problem_scores[problem.id] %></td>
          <td class="solved-mark"><%= current_user.solved_problems[problem.id] ? image_tag("check.png") : "" %></td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>

</table>

<div class="clear"></div>

<%= content_tag "div", class: "links" do %>
  <% if current_user %>
    <%= link_to 'Submit a problem', new_problem_path, id: 'new_problem' %> |
  <% end -%>

  <% if current_user_admin? %>
    <% if params[:action] == "unapproved" %>
      <%= link_to "Back to Problems", problems_path() %> |
    <% else %>
      <%= link_to "View Unapproved Problems", unapproved_problems_path() %> |
    <% end -%>
  <% end %>

  <%= link_to "RSS Feed", rss_problems_path(format: :xml), class: "rss" %>
<% end -%>
