<h1><%='Unapproved ' if (params[:action] == 'unapproved') -%>Problems</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Instructions</th>
    <th>Difficulty</th>
    <th>Solutions</th>
    <th></th>
  </tr>

<% @problems.each do |problem| %>
  <tr>
    <td><%= problem._id %></td>
    <td><%= problem.title %></td>
    <td><%= problem.instructions %></td>
    <td><%= problem.difficulty.titleize %></td>
    <td><%= problem.solutions.count %></td>
    <td><%= link_to 'Show', problem %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Create new problem', new_problem_path %>
