<h1><%= @problem.title %></h1>

<% if current_user_admin? %>
  <p>
    <b>Status:</b><br/>
    <%= @problem.status.titleize %>
  </p>
<% end -%>

<% if @problem.creator.present? %>
  <p>
    <b>Submitted By:</b><br/>
    <%= @problem.creator %>
  </p>
<% end %>

<p>
  <b>Difficulty:</b><br/>
  <%= @problem.difficulty_word %>
</p>

<% if @problem.tags.any? %>
  <p>
    <b>Tags:</b><br/>
    <%= @problem.tag_list %>
  </p>
<% end -%>

<% if !@problem.instructions.blank? %>
<p>
  <b>Instructions:</b><br/>
  <%= @problem.approved? ? raw(Rinku.auto_link(@problem.instructions)) : @problem.instructions %>
</p>
<% end %>

<% if !@problem.hidden_code.blank? %>
<p>
  <b>Hidden Code:</b><br/>
  There is hidden code with assertions that is also being run to test out your code.
</p>
<% end %>

<% if @problem.excluded_methods && @problem.excluded_methods.any? %>
  <p>
    <b>Banned Methods:</b><br/>
    <%= @problem.excluded_methods.join(", ") %>
  </p>
<% end -%>

<div>
  <b>Code:</b>
  <%=raw highlight_code(@problem.code) %>
</div>

<h2>Your Solution</h2>

<% if @problem.solved?(current_user) || current_user_admin? %>
  <p id="solutions-link">
    <%= link_to "View Solutions", problem_solutions_path(:problem_id => @problem.id) %>
  </p>
<% end -%>

<%= form_for [@problem, @solution] do |f| -%>
  <%= form_errors @solution %>
  <%= f.hidden_field :problem_id %>
  <div class="field code-editor-field">
    <%= f.text_area :code %>
    <div id="editor" class="code-editor"></div>
  </div>
  <div class="clear"></div>
  <%= f.submit "Submit", confirm: (@solution.new_record? ? "" : "You've already solved this problem. Are you sure you want to change your solution?") %>
<% end -%>
<br/>

<%= link_to "Back to Problems", problems_path() %>

<% if current_user_admin? %>
  <% if !@problem.approved %>
    | <%= link_to 'Approve', approve_problem_path(@problem), method: :put, confirmation: "Are you sure you want to approve this problem?" %>
  <% end %>
  | <%= link_to 'Edit', edit_problem_path(@problem) %> | <%= link_to 'Destroy', @problem, confirm: "Are you sure you want to destroy?", method: :delete %>
<% end %>
