<p id="notice"><%= notice %></p>

<h1><%= @problem.title %></h1>

<p>
  <b>Difficulty:</b>
  <%= @problem.difficulty %>
</p>

<p>
  <%= @problem.instructions %>
</p>

<p>
  <b>Code:</b>
  <pre><%= @problem.code %></pre>
</p>

<hr/>

<h2>Your Solution</h2>
<%= form_for [@problem, @solution] do |f| -%>
  <%= form_errors @solution %>
  <%= f.text_area :code %><br/>
  <%= f.submit "Submit", :disable_with => "Submitting..." %>
<% end -%>

<%= link_to 'Back', problems_path %>
