<h1>Scoreboard</h1>

<table id="users">
  <tr>
    <th>Rank</th>
    <th>User</th>
    <th>Problems Solved</th>
    <th>Score</th>
    <% if current_user %>
      <th>Follow</th>
    <% end %>
  </tr>

<% @users.each_with_index do |user, i| %>
  <tr class="user-record" id="<%= user.id %>">
    <td><%= i+1 + offset %></td>
    <td><%= user.username %></td>
    <td><%= user.solution_count || 0 %></td>
    <td><%= user.score || 0 %></td>
    <% if current_user %>
      <th class="follow">
        <% unless user == current_user %>
          <%= link_to "Follow", "#", class: (current_user.following?(user) ? "no-display" : "") %>
          <%= link_to "Unfollow", "#", class: (current_user.following?(user) ? "" : "no-display")  %>
        <% end %>
      </th>
    <% end %>
  </tr>
<% end %>
</table>

<%= paginate @users %>
<div class="clear"></div>
