<h1>Scoreboard</h1>

<table id="users">
  <tr>
    <th>Rank</th>
    <th>User</th>
    <th>Problems Solved</th>
    <th>Score</th>
    <% if current_user %>
      <th>Follow</th>
    <% end %>
  </tr>

<% @users.each_with_index do |user, i| %>
  <tr class="user-record <%= 'self' if user == current_user %>" id="<%= user.id %>">
    <td><%= user.rank || 'undefined' %></td>
    <td class="user"><%= gravatar_image(user.email, 24, style: "margin-right: 0.5em") %><%= user.username %></td>
    <td><%= user.solution_count || 0 %></td>
    <td><%= user.score || 0 %></td>
    <% if current_user %>
      <td class="follow">
        <% unless user == current_user %>
          <%= link_to "Follow", "#", class: (current_user.following?(user) ? "no-display" : "") %>
          <%= link_to "Unfollow", "#", class: (current_user.following?(user) ? "" : "no-display")  %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<%= paginate @users %>
<div class="clear"></div>
