<h1>History</h1>

<table id="audits">
  <tr>
    <th>ID</th>
    <th>Object</th>
    <th>Action</th>
    <th>User</th>
    <th>Time</th>
    <th></th>
  </tr>

<% @audits.each do |audit| %>
  <tr class="problem">
    <td title="<%= audit.id %>"><%= truncate(audit.id.to_s, length: 40) %></td>
    <td><%= audit.association_chain.first["name"] %></td>
    <td><%= audit.action %></td>
    <td><%= audit.modifier %></td>
    <td><%= audit.created_at %></td>
    <td><%= link_to "View", audit_path(audit) %></td>
  </tr>
<% end %>
</table>

<%= paginate @audits %>
