<h1>Help is here!</h1>

<p>Rubeque challenges users to solve ruby koans or short problems using ruby code. To do this, you'll need to fill in the blank on each problem.
The blanks that you will be filling in are indicated by "__" (two underscores).  This is not part of the syntax of Ruby and in its place, your code
will be evaluated. If there are multiple blanks, each will be replaced with your code. Any code passes all assertions will be considered a correct
answer.</p>

</p>Let's consider the first problem:</p>

<p><%=raw highlight_code("assert_equal __, true") %></p>

<p>Any of the following would be considered correct answers:</p>
<ol>
  <li>true</li>
  <li>(1 == 1)</li>
  <li>!!1</li>
</ol>

<p>Some operations are prohibited for security reasons. For example, no system calls will be allowed. Many of the easier problems on this site can
be solved using only your browser. Here are some sites to help you along the way:</p>
<ul>
  <li><%= link_to "tryruby.org", "http://tryruby.org" %> &mdash; provides an interative ruby session (irb) in your browser.</li>
  <li><%= link_to "ruby-doc.org/core-1.9.3", "http://ruby-doc.org/core-1.9.3/" %> &mdash; ruby 1.9.3 documenation.</li>
  <li><%= link_to "rubular.com", "http://rubular.com" %> &mdash; provides an interactive way to test your regular expressions against strings.</li>
  <li><%= link_to "strfti.me", "http://strfti.me/" %> &mdash; look up variables that you need to format time in ruby.</li>
</ul>

<p>To receive a score for a submitted problem, you must be logged in. You'll automatically receive one point for an elementary problem, two points for
a easy problem, three points for a medium problem, and four points for a hard problem. You'll also receive one point for every upvote and (sad face)
minus one point for every downvote. Problems marked as cheating will be reviewed and if removed, will not count towards your score.</p>

<h2 class="text-header">Like solving Ruby problems online?</h2>

<p>Check out these other great sites if you like the idea of solving Ruby problems online:
<ul>
  <li><%= link_to "Try Ruby", "http://tryruby.org" %></li>
  <li><%= link_to "Ruby Koans", "http://koans.heroku.com/" %></li>
  <li><%= link_to "The Ruby Game", "http://therubygame.com" %></li>
  <li><%= link_to "Ruby Monk", "http://rubymonk.com/" %></li>
  <li><%= link_to "Rails for Zombies", "http://railsforzombies.org/" %></li>
</ul>
</p>

<h2 class="text-header">Need to contact us?</h2>

<p>If you found a problem or bug with this site, feel free to open an issue on <%= link_to "our github page", "http://github.com/daviddavis/rubeque" %>.
You can also drop us an email at <%= link_to "rubeque@scimedsolutions.com", "mailto:rubeque@scimedsolutions.com" %>.</p>

<p>If you're looking for help with a problem, you can visit us on <%= link_to "#rubeque on freenode", "irc://chat.freenode.net/rubeque" %> or visit our
<%= link_to "Google Group", "http://groups.google.com/group/rubeque" %>.</p>

<p>For news and updates, follow <%= link_to "@rubequedotcom", "http://twitter.com/rubequedotcom" %> on Twitter.</p>
