<h1>Help is here!</h1>

<p>Rubeque challenges users to solve ruby koans or short problems using ruby code. To do this, you'll need to fill in the blank on each problem.</p>

<p>The blanks that you will be filling in are indicated by a <strong>double underscore</strong>: '__'.  This is not part of the syntax of the language.
Any code which makes the final form evaluate to 'true' will be considered a correct answer.  Let's consider the first problem:</p>

<p><%=raw highlight_code("assert_equal __, true") %></p>

<p>Any of the following would be considered correct answers:</p>
<ol>
  <li>true</li>
  <li>(1 == 1)</li>
  <li>!(false)</li>
</ol>

<p>Some operations are prohibited for security reasons. For example, no system calls will be allowed.</p>

<p>Many of the easier problems on this site can be solved using only your browser. Here are some sites to help you along the way:</p>

<ul>
  <li><%= link_to "tryruby.org", "http://tryruby.org" %> &mdash; provides an interative ruby session (irb) in your browser.</li>
  <li><%= link_to "ruby-doc.org/core-1.9.3", "http://ruby-doc.org/core-1.9.3/" %> &mdash; ruby 1.9.3 documenation.</li>
  <li><%= link_to "rubular.com", "http://rubular.com" %> &mdash; provides an interactive way to test your regular expressions against strings.</li>
  <li><%= link_to "strfti.me", "http://strfti.me/" %> &mdash; look up variables that you need to format time in ruby.</li>
</ul>


<h2 class="text-header">Need to contact us?</h2>

<p>If you found a problem or bug with this site, feel free to open an issue on <%= link_to "our github page", "http://github.com/daviddavis/rubeque" %>.
Otherwise, our email address is <%= link_to "rubeque@scimedsolutions.com", "mailto:rubeque@scimedsolutions.com" %>.</p>
