<%= form_for([@solution.problem, @solution]) do |f| %>
  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% @solution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :problem %><br />
    <div class='instructions'><%= @solution.problem.instructions %></div>
  </div>
  <div class="field code-editor-field">
    <%= f.label :code %><br />
    <%= f.text_area :code %>
    <div id="code_editor" class="code-editor"></div><br/>
  </div>
  <div class="clear"></div>
  <div class="actions" style="margin-top:20px">
    <%= f.submit %>
  </div>
<% end %>
