<% title ||= "#{solution.user}'s Solution" -%>

<%= render "votes", solution: solution %>

<h3>
  <%= gravatar_image(solution.user.email, 28) %>
  <%= title %>
</h3>

<%=raw highlight_code(solution.code) %>

<p class="small" style="float: right; height: 1em">
  <%= link_to "Report Abuse", report_problem_solution_path(solution.problem, solution), confirm: "Are you sure you want to report this solution for abuse?", class: "report-solution" %>
</p>

<p class="small solution-info">
  <% if solution.time %>
    Time: <strong><%= solution.time.round(4) %></strong> seconds.
  <% end %>
  Length: <strong><%= solution.character_count %></strong> chars.
  Date: <strong><%= solution.updated_at %></strong>.
  <% if current_user_admin? %>
    <%= link_to 'Edit', edit_problem_solution_path(solution.problem, solution) %> | 
    <%= link_to 'Destroy', [solution.problem, solution], confirm: 'Are you sure?', method: :delete %>
  <% end %>
</p>
<div class="clear"></div>
