<% title ||= "#{solution.user}'s Solution" -%>

<%= render "votes", solution: solution %>

<h3><%= title %></h3>

<%=raw highlight_code(solution.code) %>

<p class="small solution-info">
  <% if solution.time %>
    Time: <strong><%= solution.time.round(4) %></strong> seconds.
  <% end %>
  Length: <strong><%= solution.code.length %></strong> chars.
  Date: <strong><%= solution.updated_at %></strong>.
  <% if current_user_admin? %>
    <%= link_to 'Edit', edit_problem_solution_path(solution.problem, solution) %> | 
    <%= link_to 'Destroy', [solution.problem, solution], confirm: 'Are you sure?', method: :delete %>
  <% end %>
</p>
<div class="clear"></div>
