<h1>Solutions for <%= link_to "#{truncate(@problem.to_s, length: 30)}", @problem %></h1>

<% if @top_solutions.current_page == 1 %>
  <h2 style="margin-top: 1.5em">People You Follow</h2>

  <div class="solutions">
    <% if @followed_solutions.any? %>
      <% @followed_solutions.each do |solution| %>
        <div class="solution">
          <%= render solution %>
        </div>
      <% end -%>
    <% else %>
      <p>None of the people you follow have solved this problem.</p>
    <% end -%>
  </div>

  <hr/>
  <h2>Top Solutions</h2>
<% end %>

<div class="solutions">
  <% @top_solutions.each do |solution| %>

    <div class="solution">
      <%= render solution %>
    </div>

  <% end -%>

  <%= paginate @top_solutions %>
</div>
<div class="clear"></div>

<% if solution = Solution.first(conditions: { user_id: current_user.id, problem_id: @problem.id }) %>
  <hr/>
  <div class="solution" id="your-solution">
    <%= render solution, title: "Your Solution" %>
  </div>
<% end -%>

<br/>

<%= link_to "Back to Problem", problem_path(@problem) %>
